body{
	font-family: Arial;
	background-image: "../images/6.jpg"
}

h1 {
	text-align: center;
	color: red;

}

#container{
	background-color: lightblue;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

#allDone{
	display: none;
}
